// overlaps html and * properties
:root {
    --background-color: rgba(255, 255, 255, 0.921);
    --text-color: rgb(0, 0, 0);
}

$blue1: rgb(227, 242, 253, 0.8);
$blue2: rgb(187, 222, 251);
$blue3: rgb(144, 202, 249);
$blue4: rgb(100, 181, 246);
$blue5: rgb(66, 165, 245);
$blue6: rgb(33, 150, 243);

$red1: rgba(255, 235, 238, 0.8);
$red2: rgb(255, 205, 210);
$red3: rgb(239, 154, 154);
$red4: rgb(229, 115, 115);
$red5: rgb(239, 83, 80);
$red6: rgb(244, 67, 54);

$yellow1: rgb(255, 248, 225, 0.8);
$yellow2: rgb(255, 236, 179);
$yellow3: rgb(255, 224, 130);
$yellow4: rgb(255, 213, 79);
$yellow5: rgb(255, 202, 40);
$yellow6: rgb(255, 193, 7);

$green1: rgb(232, 245, 233, 0.8);
$green2: rgb(200, 230, 201);
$green3: rgb(165, 214, 167);
$green4: rgb(129, 199, 132);
$green5: rgb(102, 187, 106);
$green6: rgb(76, 175, 80);