<script src="../static/js/navbar.js"></script>
<div class="navbar">
    <!---TODO -->
    <img class="navbar__logo navbar__logo__grey" src="../static/img/logo_grey.png" alt="">
    <img class="navbar__logo navbar__logo__white" src="../static/img/logo_white.png" alt="">
    <img class="navbar__logo navbar__logo__color" src="../static/img/logo_color.png" alt="">
    <h2 class="navbar__header">Google Developer Student Club</h2>
    <h4 class="navbar__subheader">Techno International New Town</h4>

    <div class="navbar__menu">
        <a href="#home" class="navbar__menu__fill__home">
            <div class="navbar__menu__fill__home__bg"></div>
            <div class="navbar__menu__fill__home__underline"></div>
            <p class="navbar__menu__fill__text">Home</p>
        </a>
        <a href="#about" class="navbar__menu__fill__about">
            <div class="navbar__menu__fill__about__bg"></div>
            <div class="navbar__menu__fill__about__underline"></div>
            <p class="navbar__menu__fill__text">About</p>
        </a>
        <a href="#events" class="navbar__menu__fill__events">
            <div class="navbar__menu__fill__events__bg"></div>
            <div class="navbar__menu__fill__events__underline"></div>
            <p class="navbar__menu__fill__text">Events</p>
        </a>
        <a href="#domain" class="navbar__menu__fill__domain">
            <div class="navbar__menu__fill__domain__bg"></div>
            <div class="navbar__menu__fill__domain__underline"></div>
            <p class="navbar__menu__fill__text">Domain</p>
        </a>
        <a href="#members" class="navbar__menu__fill__members">
            <div class="navbar__menu__fill__members__bg"></div>
            <div class="navbar__menu__fill__members__underline"></div>
            <p class="navbar__menu__fill__text">Members</p>
        </a>
        <a href="#coremembers" class="navbar__menu__fill__coremembers">
            <div class="navbar__menu__fill__coremembers__bg"></div>
            <div class="navbar__menu__fill__coremembers__underline"></div>
            <p class="navbar__menu__fill__text">Core⠀Members</p>
        </a>
        
    </div>
</div>
